<!DOCTYPE html>
<html>
<head>
    <title>Rinse FM unofficial podcast feed</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="/typeplate.css" type="text/css" media="screen" charset="utf-8">

    <style type="text/css" media="screen">
      body {
        text-align: center;
        font-family: monospace;
      }
    </style>
</head>
<body>

<img src="http://rinse.fm/wp-content/themes/rp/images/rinselogo.jpg" alt="Rinse FM" />

<h1>unofficial podcast feed</h1>

<ul><li><a id="full-feed" href="/rss.xml">RSS</a></li></ul>

<h2 id="artist-feeds">regular shows</h2>
<ul>
{% for artist in artists %}
    <li><a href="/feed/{{ artist.url_safe_name }}.rss">{{ artist.name }}</a></li>
{% endfor %}
</ul>

</body>
</html>
