<!DOCTYPE html>
<html>
<head>
    <title>Rinse FM unofficial podcast feed</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="/typeplate.css" type="text/css" media="screen" charset="utf-8">

    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />

    <style type="text/css" media="screen">
      body {
        text-align: center;
        font-family: monospace;
      }

      ul>li {
        list-style-type: none;
      }
    </style>
</head>
<body>

<img src="http://rinse.fm/wp-content/themes/rp/images/rinselogo.jpg" alt="Rinse FM" />

<h1>Rinse FM unofficial podcast feed:</h1>

<ul><li><a id="full-feed" href="/rss.xml">full RSS feed</a></li></ul>

<h2 id="presenter-feeds">Regular Shows:</h2>
<ul>
{% for presenter in presenters %}
    <li><a href="/feed/{{ presenter.url_safe_name }}.rss">{{ presenter.name }}</a></li>
{% endfor %}
</ul>

</body>
</html>
