<!DOCTYPE html>
<html>
<head>
    <title>Rinse FM unofficial podcast feed</title>

    <meta charset="utf-8">

    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://benjeffrey.com/stylesheet.css" type="text/css" media="screen">
</head>
<body>

  <div class="row">
    <h1><a href="http://rinse.fm/"><img src="http://rinse.fm/wp-content/themes/rp/images/rinselogo.jpg" alt="Rinse FM" /></a><br/> <a href="">unofficial podcast feed</a></h1>

    <p><a href="http://rinse.fm/">Rinse FM</a>'s website CMS doesn't enclose the podcast media files in it's podcast RSS feeds, making it impossible to subscribe with podcatchers.</p>

    <p>I was using <a href="https://levels.io/rinse-fm-podcast/">@levelsio's Rinse FM podcast</a> with great success for a while. Unfortunately, it seems to break whenever there's a format-change or any erroneous data-entry on Rinse FM's side. I've <a href="https://twitter.com/jeffbr13/status/447019136934486016">tweeted @levelsio in the past to fix issues</a>, but it seems unfair to bug him to keep it maintained, and he's not open-sourced it yet.</p>

    <p>So no worries, I built my own unofficial RSS feed! It's <a href="https://github.com/jeffbr13/rinse-rss">open-source</a> and feeds are available below:</p>

    <ul><li><a id="rss" href="/rss">all Rinse FM podcasts</a></li></ul>

    <h2 id="shows"><a href="#shows">show feeds</a></h2>
    <ul>
    {% for presenter in presenters %}
        <li><a href="/show/{{ presenter.url_safe_name }}.rss">{{ presenter.name }}</a></li>
    {% endfor %}
    </ul>
  </div>

  <footer class="row">
    <p>Built by <a href="https://benjeffrey.net">Ben Jeffrey</a> using <a href="https://python.org">Python 3</a>, <a href="http://flask.pocoo.org/">Flask</a>, and <a href="https://github.com/jeffbr13/rinse-rss/blob/master/requirements.txt">many other awesome projects</a>.</p>
    <p>⚒</p>
    <p><a href="https://github.com/jeffbr13/rinse-rss">Source code available</a> under the <a href="https://www.mozilla.org/MPL/2.0/">MPL 2.0</a>, all content Copyright &copy; it's respective owners (probably Rinse FM).</p>
  </footer>
</body>
</html>
