<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd">
    <channel>
        <link>{{ feed_configuration.url }}</link>
        <atom:link href="{{ feed_url }}" rel="self" type="application/rss+xml" />

        <title>{{ feed_configuration.title }}</title>
        <itunes:subtitle>{{ feed_configuration.subtitle }}</itunes:subtitle>

        <description>{{ feed_configuration.description }}</description>
        <itunes:summary>{{ feed_configuration.description }}</itunes:summary>
        <itunes:keywords>{{ feed_configuration.keywords }}</itunes:keywords>
        <language>{{ feed_configuration.language }}</language>

        <itunes:author>{{ feed_configuration.owner }}</itunes:author>
        <copyright>{{ feed_configuration.copyright }}</copyright>

        <itunes:owner>
            <itunes:name>{{ feed_configuration.podcast_owner }}</itunes:name>
            <itunes:email>{{ feed_configuration.podcast_owner_email }}</itunes:email>
        </itunes:owner>

        <itunes:image href="{{ feed_configuration.thumbnail_url }}"/>
        <itunes:category text="{{ feed_configuration.category }}"></itunes:category>
        <itunes:explicit>no</itunes:explicit>


        {% for show in shows %}
        <item>
           <title>{{ show.title | escape }}</title>
           <description>{{ show.description | escape }}</description>
           <pubDate>{{ show.pub_date }}</pubDate>
           <guid>{{ show.enclosure.url }}</guid>

           <itunes:summary>{{ show.description | escape}}</itunes:summary>
           <itunes:author>{{ show.presenter.name | escape}}</itunes:author>

           <link>{{ show.url }}</link>
           <enclosure url="{{ show.enclosure.url }}" length="{{ show.enclosure.content_length }}" type="{{ show.enclosure.content_type }}"/>
        </item>
        {% endfor %}

    </channel>
</rss>
